reviewerID - ID of the reviewer, e.g. A2SUAM1J3GNN3B

asin - ID of the product, e.g. 0000013714

reviewerName - name of the reviewer

vote - helpful votes of the review

style - a disctionary of the product metadata, e.g., "Format" is "Hardcover"

reviewText - text of the review

overall - rating of the product

summary - summary of the review

unixReviewTime - time of the review (unix time)

reviewTime - time of the review (raw)

image - images that users post after they have received the product

In [1]:
import pandas as pd
import io
import json
import gzip
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Configurar pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)

In [2]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\usuario\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: openpyxl in c:\users\usuario\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: et_xmlfile in c:\users\usuario\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
### load the meta data

data = []
with gzip.open('Luxury_Beauty.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))

# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

574628
{'overall': 2.0, 'vote': '3', 'verified': True, 'reviewTime': '06 15, 2010', 'reviewerID': 'A1Q6MUU0B2ZDQG', 'asin': 'B00004U9V2', 'reviewerName': 'D. Poston', 'reviewText': "I bought two of these 8.5 fl oz hand cream, and neither of the dispensers work.  The hand cream is wonderful, but very thick, so I don't see I can get much out by shaking it out, since the dispensers seem to be non-operable.", 'summary': "dispensers don't work", 'unixReviewTime': 1276560000}

In [4]:
# convert list into pandas dataframe

df1 = pd.DataFrame.from_dict(data)

print(len(df1))

574628

In [5]:
df1.head(5)

,overall,vote,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,style,image
0,2.0,3,True,"06 15, 2010",A1Q6MUU0B2ZDQG,B00004U9V2,D. Poston,"I bought two of these 8.5 fl oz hand cream, an...",dispensers don't work,1276560000,NaN,NaN
1,5.0,14,True,"01 7, 2010",A3HO2SQDCZIE9S,B00004U9V2,chandra,"Believe me, over the years I have tried many, ...",Best hand cream ever.,1262822400,NaN,NaN
2,5.0,NaN,True,"04 18, 2018",A2EM03F99X3RJZ,B00004U9V2,Maureen G,Great hand lotion,Five Stars,1524009600,{'Size:': ' 3.5 oz.'},NaN
3,5.0,NaN,True,"04 18, 2018",A3Z74TDRGD0HU,B00004U9V2,Terry K,This is the best for the severely dry skin on ...,Five Stars,1524009600,{'Size:': ' 3.5 oz.'},NaN
4,5.0,NaN,True,"04 17, 2018",A2UXFNW9RTL4VM,B00004U9V2,Patricia Wood,The best non- oily hand cream ever. It heals o...,I always have a backup ready.,1523923200,{'Size:': ' 3.5 oz.'},NaN

In [6]:
### load the meta data

data = []
with gzip.open('meta_Luxury_Beauty.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))

# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

12299
{'category': [], 'tech1': '', 'description': ['After a long day of handling thorny situations, our new hand therapy pump is just the help you need. It contains shea butter as well as extracts of yarrow, clover and calendula to help soothe and condition work-roughened hands.', 'By Crabtree & Evelyn', 'The aromatic benefits of herbs are varied and far-reaching, so we combined a whole bunch of them into one restoratively fragrant line-up straight from the garden.', 'We&#039;ve formulated our Gardeners Hand Therapy with Myrrh Extract to help condition nails and cuticles as well as skin super hydrators macadamia seed oil and shea butter to help replenish lost moisture. Rich in herbal extracts like cooling cucumber and rosemary leaf  a favourite for antioxidants  to help protect hands against daily urban and environmental stresses while the hydrating power of Vitamin E, Hyaluronic Acid and Ceramides contribute to improve the skins natural moisture barrier with this garden-inspired treatment. Skin is left silky-soft and delicately scented.', 'How to use:', 'Dab a pea-sized amount to palms and work over skin and nails. Combine with Gardeners Hand Wash and Hand Scrub to get silky skin in three herb-infused steps.', 'Originally created to appeal to a horticulturists wealth of knowledge about the healing power of herbs, this botanical range is formulated with cleansing cucumber extract, purifying rosemary extract, oak moss and refreshing sage extract.', 'We search the world for natural ingredients and fragrance journeys that enable our customers to live a life cultivated. Inspired by the Crabapple Tree, the original species from which all cultivated apple trees have derived, and John Evelyn, the 17th century renaissance Englishman whose motto Explore Everything. Keep The Best has provided inspiration from our founding to this day.'], 'fit': '', 'title': "Crabtree &amp; Evelyn - Gardener's Ultra-Moisturising Hand Therapy Pump - 250g/8.8 OZ", 'also_buy': ['B00GHX7H0A', 'B00FRERO7G', 'B00R68QXCS', 'B000Z65AZE', 'B07GFHJRMX', 'B074KGBGL7', 'B00R68QXJG', 'B00025WYZC', 'B07H3W9BM5', 'B00KOBT82G', 'B072N2M1P6', 'B071G8FG2N', 'B00FASVFI8', 'B00GHXE4N8', 'B00EPG2QJI', 'B01MQ4MEFE', 'B01M8ML0SY', 'B074KHCPLH', 'B004XQWY4W', 'B00FASV6UU', 'B01M31HJBJ', 'B00KC8TU7O', 'B00B9TU5T2', 'B00K75EZ04', 'B000Q2Y0FI', 'B00FEGOCCM', 'B00EPFXFBW', 'B00H6SQY3Q', 'B00HZAOWUC', 'B07GFJF1DN', 'B001WBS68E', 'B074KJZCPH'], 'tech2': '', 'brand': '', 'feature': [], 'rank': '4,324 in Beauty & Personal Care (', 'also_view': ['B00FRERO7G', 'B00GHX7H0A', 'B07GFHJRMX', 'B00TJ3NBN2', 'B00KOBT82G', 'B00R68QXCS', 'B074KGBGL7', 'B075MH4Q9L', 'B07H3W9BM5', 'B07GFJF1DN', 'B00KC8TPVA', 'B07DB7KXFV', 'B07DCCRGZT', 'B00GHX58LK', 'B077GXQ2TH', 'B00GHX52MK', 'B01MQ4MEFE', 'B00GHXE4N8', 'B07FYFXBK8', 'B00FEGOCCM', 'B00FASVFI8', 'B074KFH9JN', 'B071G8FG2N', 'B074KGN1BT', 'B00GHX5HZC', 'B00B9TU5T2', 'B074KM26WX', 'B074KGQ65V', 'B01M8ML0SY', 'B076YKGPY5', 'B00EPG2QJI', 'B074KHCPLH', 'B075YMZVGF', 'B00K1C8V1W', 'B074KDPT26', 'B07CCNVW87', 'B074KGQ5LF', 'B00GHX8I6M', 'B07JMLGRKY', 'B07C92VLKM', 'B00KC8TU7O', 'B00025WYZC', 'B074KJZCPH', 'B074KHCPMV', 'B00GHXHPEI', 'B07K2WRDBS', 'B00FASV6UU', 'B001WBS68E', 'B074KMD9QM', 'B076YN8DDY', 'B074KHDYRX', 'B00GHXIBGE'], 'details': {'\n    Product Dimensions: \n    ': '2.2 x 2.2 x 7 inches ; 8.8 ounces', 'Shipping Weight:': '14.4 ounces (', 'Domestic Shipping: ': 'Item can be shipped within U.S.', 'International Shipping: ': 'This item can be shipped to select countries outside of the U.S.', 'ASIN:': 'B00004U9V2', 'Item model number:': '4113'}, 'main_cat': 'Luxury Beauty', 'similar_item': '', 'date': '', 'price': '$30.00', 'asin': 'B00004U9V2', 'imageURL': ['https://images-na.ssl-images-amazon.com/images/I/41ClX6BRvZL._SX50_SY65_CR,0,0,50,65_.jpg', 'https://images-na.ssl-images-amazon.com/images/I/510giIO5cFL._SX50_SY65_CR,0,0,50,65_.jpg', 'https://images-na.ssl-images-amazon.com/images/I/414gBlQ6F9L._SX50_SY65_CR,0,0,50,65_.jpg', 'https://images-na.ssl-images-amazon.com/images/I/51jNGOh1f9L._SX50_SY65_CR,0,0,50,65_.jpg', 'https://images-na.ssl-images-amazon.com/images/I/31f8YZgUBhL._SX50_SY65_CR,0,0,50,65_.jpg'], 'imageURLHighRes': ['https://images-na.ssl-images-amazon.com/images/I/41ClX6BRvZL.jpg', 'https://images-na.ssl-images-amazon.com/images/I/510giIO5cFL.jpg', 'https://images-na.ssl-images-amazon.com/images/I/414gBlQ6F9L.jpg', 'https://images-na.ssl-images-amazon.com/images/I/51jNGOh1f9L.jpg', 'https://images-na.ssl-images-amazon.com/images/I/31f8YZgUBhL.jpg']}

In [7]:
# convert list into pandas dataframe

df2 = pd.DataFrame.from_dict(data)

print(len(df2))

12299

In [8]:

# Guardar el DataFrame en formato Excel
#df2.to_excel('nombre_del_archivo_salida.xlsx', index=False, engine='openpyxl')

print("Archivo convertido y guardado con éxito.")

Archivo convertido y guardado con éxito.

In [9]:
result = pd.merge(df1,df2, on = "asin")

In [10]:
result.head(2)

,overall,vote,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,style,image,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,details,main_cat,similar_item,date,price,imageURL,imageURLHighRes
0,2.0,3,True,"06 15, 2010",A1Q6MUU0B2ZDQG,B00004U9V2,D. Poston,"I bought two of these 8.5 fl oz hand cream, an...",dispensers don't work,1276560000,NaN,NaN,[],,[After a long day of handling thorny situation...,,Crabtree &amp; Evelyn - Gardener's Ultra-Moist...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...",,,[],"4,324 in Beauty & Personal Care (","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",{' Product Dimensions: ': '2.2 x 2.2 ...,Luxury Beauty,,,$30.00,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
1,2.0,3,True,"06 15, 2010",A1Q6MUU0B2ZDQG,B00004U9V2,D. Poston,"I bought two of these 8.5 fl oz hand cream, an...",dispensers don't work,1276560000,NaN,NaN,[],,[After a long day of handling thorny situation...,,Crabtree &amp; Evelyn - Gardener's Ultra-Moist...,"[B00GHX7H0A, B00FRERO7G, B00R68QXCS, B000Z65AZ...",,,[],"4,324 in Beauty & Personal Care (","[B00FRERO7G, B00GHX7H0A, B07GFHJRMX, B00TJ3NBN...",{' Product Dimensions: ': '2.2 x 2.2 ...,Luxury Beauty,,,$30.00,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...

In [11]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600230 entries, 0 to 600229
Data columns (total 30 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   overall          600230 non-null  float64
 1   vote             107111 non-null  object
 2   verified         600230 non-null  bool
 3   reviewTime       600230 non-null  object
 4   reviewerID       600230 non-null  object
 5   asin             600230 non-null  object
 6   reviewerName     600199 non-null  object
 7   reviewText       599810 non-null  object
 8   summary          600041 non-null  object
 9   unixReviewTime   600230 non-null  int64
 10  style            270311 non-null  object
 11  image            7838 non-null    object
 12  category         600230 non-null  object
 13  tech1            600230 non-null  object
 14  description      600230 non-null  object
 15  fit              600230 non-null  object
 16  title            600230 non-null  object
 17  also_buy         600230 non-null  object
 18  tech2            600230 non-null  object
 19  brand            600230 non-null  object
 20  feature          600230 non-null  object
 21  rank             600230 non-null  object
 22  also_view        600230 non-null  object
 23  details          600230 non-null  object
 24  main_cat         600230 non-null  object
 25  similar_item     600230 non-null  object
 26  date             600230 non-null  object
 27  price            600230 non-null  object
 28  imageURL         600230 non-null  object
 29  imageURLHighRes  600230 non-null  object
dtypes: bool(1), float64(1), int64(1), object(27)
memory usage: 138.0+ MB

In [12]:
data = result

In [13]:
# Lista de columnas a eliminar
columns_to_drop = ['category','main_cat','feature','vote','style', 'reviewerName', 'image','title','date','imageURL','imageURLHighRes','also_view','also_buy','fit','details','similar_item','tech1','tech2','description']

# Eliminar columnas
data = data.drop(columns=columns_to_drop, errors='ignore')

In [14]:
data.dropna(inplace=True)

In [15]:
# Extraer todos los números y comas del principio de la cadena
extracted_series = data['rank'].str.extract(r'([\d,]+)')[0]

# Convertir "nan" (cadena) a np.nan
extracted_series.replace("nan", np.nan, inplace=True)


# Eliminar comas y convertir a int
data['extracted_rank'] = extracted_series.str.replace(',', '').fillna('0').astype(int)


# Rellenar valores NaN con 0, eliminar comas y convertir a entero
data['extracted_rank'] = extracted_series.fillna(0).astype(str).str.replace(',', '').astype(int)

In [16]:
# Extraer el primer valor cuando hay un rango de precios
data['price'] = data['price'].str.extract(r'(\d+.\d+)')[0]

# Eliminar el símbolo $ y las comas, luego convertir a float
data['price'] = data['price'].str.replace('$', '', regex=True).str.replace(',', '').astype(float)

In [17]:
# Convertir la columna unixReviewTime a un formato de fecha
data['reviewDate'] = pd.to_datetime(data['unixReviewTime'], unit='s').dt.date

In [18]:
data = data[data['verified'] == True]

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 526671 entries, 0 to 600229
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         526671 non-null  float64
 1   verified        526671 non-null  bool
 2   reviewTime      526671 non-null  object
 3   reviewerID      526671 non-null  object
 4   asin            526671 non-null  object
 5   reviewText      526671 non-null  object
 6   summary         526671 non-null  object
 7   unixReviewTime  526671 non-null  int64
 8   brand           526671 non-null  object
 9   rank            526671 non-null  object
 10  price           430236 non-null  float64
 11  extracted_rank  526671 non-null  int32
 12  reviewDate      526671 non-null  object
dtypes: bool(1), float64(2), int32(1), int64(1), object(8)
memory usage: 50.7+ MB

In [20]:
data.head(2)

,overall,verified,reviewTime,reviewerID,asin,reviewText,summary,unixReviewTime,brand,rank,price,extracted_rank,reviewDate
0,2.0,True,"06 15, 2010",A1Q6MUU0B2ZDQG,B00004U9V2,"I bought two of these 8.5 fl oz hand cream, an...",dispensers don't work,1276560000,,"4,324 in Beauty & Personal Care (",30.0,4324,2010-06-15
1,2.0,True,"06 15, 2010",A1Q6MUU0B2ZDQG,B00004U9V2,"I bought two of these 8.5 fl oz hand cream, an...",dispensers don't work,1276560000,,"4,324 in Beauty & Personal Care (",30.0,4324,2010-06-15

In [21]:
# Lista de columnas a eliminar
columns_to_drop = ['reviewTime','unixReviewTime','rank','verified']

# Eliminar columnas
data = data.drop(columns=columns_to_drop, errors='ignore')

In [22]:
# Convertir reviewDate a tipo de dato datetime (si aún no lo has hecho)
data['reviewDate'] = pd.to_datetime(data['reviewDate'])

In [23]:
data.head(2)

,overall,reviewerID,asin,reviewText,summary,brand,price,extracted_rank,reviewDate
0,2.0,A1Q6MUU0B2ZDQG,B00004U9V2,"I bought two of these 8.5 fl oz hand cream, an...",dispensers don't work,,30.0,4324,2010-06-15
1,2.0,A1Q6MUU0B2ZDQG,B00004U9V2,"I bought two of these 8.5 fl oz hand cream, an...",dispensers don't work,,30.0,4324,2010-06-15

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 526671 entries, 0 to 600229
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         526671 non-null  float64
 1   reviewerID      526671 non-null  object
 2   asin            526671 non-null  object
 3   reviewText      526671 non-null  object
 4   summary         526671 non-null  object
 5   brand           526671 non-null  object
 6   price           430236 non-null  float64
 7   extracted_rank  526671 non-null  int32
 8   reviewDate      526671 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int32(1), object(5)
memory usage: 38.2+ MB

In [25]:
# 1. Entendimiento Básico
print(data.shape)
#print(data.info())
#print(data.head())
#print(data.tail())

(526671, 9)

In [33]:
unique_values_freq = data['brand'].value_counts()
print(unique_values_freq)

                          526359
UNITE Hair                   252
PHYTO                         19
bliss                         17
PUR                            9
H2O+ Beauty                    7
Kneipp                         7
ZWILLING J.A. Henckels         1
Name: brand, dtype: int64

In [27]:
# 2. Estadísticas Descriptivas
print(data.describe())
print(data.describe(include=[np.object]))

             overall          price  extracted_rank
count  526671.000000  430236.000000    5.266710e+05
mean        4.251725     794.403387    1.255637e+05
std         1.286694    7614.131700    2.257361e+05
min         1.000000       1.000000    0.000000e+00
25%         4.000000      17.310000    6.793000e+03
50%         5.000000      28.000000    2.832300e+04
75%         5.000000      46.950000    1.362260e+05
max         5.000000   77600.000000    3.301085e+06

C:\Users\Usuario\AppData\Local\Temp\ipykernel_3468\1164496408.py:3: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  print(data.describe(include=[np.object]))

           reviewerID        asin reviewText     summary   brand
count          526671      526671     526671      526671  526671
unique         377825       11903     411698      222355       8
top     AJL6HX8O2QLVO  B0013U0EYI    Love it  Five Stars
freq              128        6468       1422      118284  526359

In [28]:
# 3. Manejo de Valores Faltantes
missing_values = data.isnull().sum()
print(missing_values)
# Puedes decidir cómo manejar estos valores más adelante.

overall               0
reviewerID            0
asin                  0
reviewText            0
summary               0
brand                 0
price             96435
extracted_rank        0
reviewDate            0
dtype: int64

In [34]:
data.dropna(inplace=True)

In [35]:
# 3. Manejo de Valores Faltantes
missing_values = data.isnull().sum()
print(missing_values)
# Puedes decidir cómo manejar estos valores más adelante.

overall           0
reviewerID        0
asin              0
reviewText        0
summary           0
brand             0
price             0
extracted_rank    0
reviewDate        0
dtype: int64

In [36]:
print(data.shape)

(430236, 9)

In [37]:
# Guardar el DataFrame en un archivo CSV
data.to_csv('Luxury_Beauty.csv', index=False)  # 'index=False' para no guardar el índice del DataFrame

In [39]:
import re

# Función para eliminar/reemplazar caracteres no permitidos
def clean_illegal_chars(val):
    if isinstance(val, str):  # Solo procesar cadenas
        # Eliminar caracteres no permitidos
        # (puedes ajustar el reemplazo como prefieras, aquí los eliminamos)
        val = re.sub(r'[^\x09\x0A\x0D\x20-\uD7FF\uE000-\uFFFD\u10000-\u10FFFF]', '', val)
    return val

# Aplicar la función a todo el DataFrame
df_cleaned = data.applymap(clean_illegal_chars)

In [40]:
# Guardar el DataFrame en un archivo Excel
df_cleaned.to_excel('Luxury_Beauty.xlsx', index=False, engine='openpyxl')