reviewerID - ID of the reviewer, e.g. A2SUAM1J3GNN3B

asin - ID of the product, e.g. 0000013714

reviewerName - name of the reviewer

vote - helpful votes of the review

style - a disctionary of the product metadata, e.g., "Format" is "Hardcover"

reviewText - text of the review

overall - rating of the product

summary - summary of the review

unixReviewTime - time of the review (unix time)

reviewTime - time of the review (raw)

image - images that users post after they have received the product

In [1]:
import pandas as pd
import io
import json
import gzip
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Configurar pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)

In [2]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\usuario\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: openpyxl in c:\users\usuario\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: et_xmlfile in c:\users\usuario\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
### Carga la data de reviews

data = []
with gzip.open('AMAZON_FASHION.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))

# Longitud total de la lista, este numero equivale al numero total de productos
print(len(data))

# Primera fila de la lista
print(data[0])

883636
{'overall': 5.0, 'verified': True, 'reviewTime': '10 20, 2014', 'reviewerID': 'A1D4G1SNUZWQOT', 'asin': '7106116521', 'reviewerName': 'Tracy', 'reviewText': 'Exactly what I needed.', 'summary': 'perfect replacements!!', 'unixReviewTime': 1413763200}

In [4]:
# Convierte la lista en un dataframe de pandas

df1 = pd.DataFrame.from_dict(data)

print(len(df1))

883636

In [5]:
df1.head(5)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2.0,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3,NaN,NaN
2,4.0,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2.0,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3.0,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN

In [6]:
### Carga la meta data de reviews

data = []
with gzip.open('meta_AMAZON_FASHION.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))

# Longitud total de la lista, este numero equivale al numero total de productos
print(len(data))

# Primera fila de la lista
print(data[0])

186637
{'title': 'Slime Time Fall Fest [With CDROM and Collector Cards and Neutron Balls, Incredi-Ball and Glow Stick Necklace, Paper Fram', 'brand': 'Group Publishing (CO)', 'feature': ['Product Dimensions:\n                    \n8.7 x 3.6 x 11.4 inches', 'Shipping Weight:\n                    \n2.4 pounds'], 'rank': '13,052,976inClothing,Shoesamp;Jewelry(', 'date': '8.70 inches', 'asin': '0764443682', 'imageURL': ['https://images-na.ssl-images-amazon.com/images/I/51bSrINiWpL._US40_.jpg'], 'imageURLHighRes': ['https://images-na.ssl-images-amazon.com/images/I/51bSrINiWpL.jpg']}

In [7]:
# Convierte la lista en un dataframe de pandas

df2 = pd.DataFrame.from_dict(data)

print(len(df2))

186637

In [8]:
# Guardar el DataFrame en formato Excel
#df2.to_excel('nombre_del_archivo_salida.xlsx', index=False, engine='openpyxl')

print("Archivo convertido y guardado con éxito.")

Archivo convertido y guardado con éxito.

In [9]:
result = pd.merge(df1,df2, on = "asin")

In [10]:
result.head(2)

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image,title,brand,feature,rank,date,imageURL,imageURLHighRes,description,price,also_view,also_buy,fit,details,similar_item,tech1
0,5.0,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN,Milliongadgets(TM) Earring Safety Backs For Fi...,NaN,NaN,"2,081,098inClothing,ShoesJewelry(",fishhook,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3,NaN,NaN,Milliongadgets(TM) Earring Safety Backs For Fi...,NaN,NaN,"2,081,098inClothing,ShoesJewelry(",fishhook,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 884806 entries, 0 to 884805
Data columns (total 27 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   overall          884806 non-null  float64
 1   verified         884806 non-null  bool
 2   reviewTime       884806 non-null  object
 3   reviewerID       884806 non-null  object
 4   asin             884806 non-null  object
 5   reviewerName     884714 non-null  object
 6   reviewText       883573 non-null  object
 7   summary          884273 non-null  object
 8   unixReviewTime   884806 non-null  int64
 9   vote             80179 non-null   object
 10  style            304985 non-null  object
 11  image            28813 non-null   object
 12  title            884776 non-null  object
 13  brand            649964 non-null  object
 14  feature          734441 non-null  object
 15  rank             851349 non-null  object
 16  date             867630 non-null  object
 17  imageURL         717533 non-null  object
 18  imageURLHighRes  717533 non-null  object
 19  description      198124 non-null  object
 20  price            297772 non-null  object
 21  also_view        307744 non-null  object
 22  also_buy         383876 non-null  object
 23  fit              160321 non-null  object
 24  details          8883 non-null    object
 25  similar_item     3659 non-null    object
 26  tech1            4054 non-null    object
dtypes: bool(1), float64(1), int64(1), object(24)
memory usage: 183.1+ MB

In [12]:
data = result

In [13]:
# Lista de columnas a eliminar
columns_to_drop = ['feature','vote','style', 'reviewerName', 'image','title','date','imageURL','imageURLHighRes','also_view','also_buy','fit','details','similar_item','tech1','description']

# Eliminar columnas
data = data.drop(columns=columns_to_drop, errors='ignore')

In [14]:
data.dropna(inplace=True)

In [15]:
# Extraer todos los números y comas del principio de la cadena
extracted_series = data['rank'].str.extract(r'([\d,]+)')[0]

# Convertir "nan" (cadena) a np.nan
extracted_series.replace("nan", np.nan, inplace=True)


# Eliminar comas y convertir a int
data['extracted_rank'] = extracted_series.str.replace(',', '').fillna('0').astype(int)


# Rellenar valores NaN con 0, eliminar comas y convertir a entero
data['extracted_rank'] = extracted_series.fillna(0).astype(str).str.replace(',', '').astype(int)

In [16]:
# Extraer el primer valor cuando hay un rango de precios
data['price'] = data['price'].str.extract(r'(\d+.\d+)')[0]

# Eliminar el símbolo $ y las comas, luego convertir a float
data['price'] = data['price'].str.replace('$', '', regex=True).str.replace(',', '').astype(float)

In [17]:
# Convertir la columna unixReviewTime a un formato de fecha
data['reviewDate'] = pd.to_datetime(data['unixReviewTime'], unit='s').dt.date

In [18]:
data = data[data['verified'] == True]

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196517 entries, 17 to 884727
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         196517 non-null  float64
 1   verified        196517 non-null  bool
 2   reviewTime      196517 non-null  object
 3   reviewerID      196517 non-null  object
 4   asin            196517 non-null  object
 5   reviewText      196517 non-null  object
 6   summary         196517 non-null  object
 7   unixReviewTime  196517 non-null  int64
 8   brand           196517 non-null  object
 9   rank            196517 non-null  object
 10  price           196517 non-null  float64
 11  extracted_rank  196517 non-null  int32
 12  reviewDate      196517 non-null  object
dtypes: bool(1), float64(2), int32(1), int64(1), object(8)
memory usage: 18.9+ MB

In [20]:
data.head(2)

,overall,verified,reviewTime,reviewerID,asin,reviewText,summary,unixReviewTime,brand,rank,price,extracted_rank,reviewDate
17,3.0,True,"09 22, 2013",A1BB77SEBQT8VX,B00007GDFV,mother - in - law wanted it as a present for h...,bought as a present,1379808000,Buxton,"43,930inClothing,Shoesamp;Jewelry(",16.95,43930,2013-09-22
18,3.0,True,"09 22, 2013",A1BB77SEBQT8VX,B00007GDFV,mother - in - law wanted it as a present for h...,bought as a present,1379808000,Buxton,"43,930inClothing,Shoesamp;Jewelry(",16.95,43930,2013-09-22

In [21]:
# Lista de columnas a eliminar
columns_to_drop = ['reviewTime','unixReviewTime','rank','verified']

# Eliminar columnas
data = data.drop(columns=columns_to_drop, errors='ignore')

In [22]:
# Convertir reviewDate a tipo de dato datetime (si aún no lo has hecho)
data['reviewDate'] = pd.to_datetime(data['reviewDate'])

In [23]:
data.head(2)

,overall,reviewerID,asin,reviewText,summary,brand,price,extracted_rank,reviewDate
17,3.0,A1BB77SEBQT8VX,B00007GDFV,mother - in - law wanted it as a present for h...,bought as a present,Buxton,16.95,43930,2013-09-22
18,3.0,A1BB77SEBQT8VX,B00007GDFV,mother - in - law wanted it as a present for h...,bought as a present,Buxton,16.95,43930,2013-09-22

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196517 entries, 17 to 884727
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         196517 non-null  float64
 1   reviewerID      196517 non-null  object
 2   asin            196517 non-null  object
 3   reviewText      196517 non-null  object
 4   summary         196517 non-null  object
 5   brand           196517 non-null  object
 6   price           196517 non-null  float64
 7   extracted_rank  196517 non-null  int32
 8   reviewDate      196517 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int32(1), object(5)
memory usage: 14.2+ MB

In [25]:
# 1. Entendimiento Básico
print(data.shape)
#print(data.info())
#print(data.head())
#print(data.tail())

(196517, 9)

In [26]:
#unique_values_freq = data['verified'].value_counts()
#print(unique_values_freq)

In [27]:
# 2. Estadísticas Descriptivas
print(data.describe())
print(data.describe(include=[np.object]))

             overall          price  extracted_rank
count  196517.000000  196517.000000    1.965170e+05
mean        4.118514      20.262975    8.572890e+05
std         1.306185      32.625215    1.929104e+06
min         1.000000       0.010000    0.000000e+00
25%         4.000000       8.990000    4.756900e+04
50%         5.000000      12.900000    2.404050e+05
75%         5.000000      19.990000    8.369710e+05
max         5.000000    3000.000000    2.707478e+07

C:\Users\Usuario\AppData\Local\Temp\ipykernel_16544\1164496408.py:3: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  print(data.describe(include=[np.object]))

            reviewerID        asin reviewText     summary    brand
count           196517      196517     196517      196517   196517
unique          184940       13557     175690       94277     4409
top     A2GP4EJIAA2OE0  B00RLSCLJM    Love it  Five Stars  i play.
freq                 7        3571        539       44327     5350

In [28]:
# 3. Manejo de Valores Faltantes
missing_values = data.isnull().sum()
print(missing_values)

overall           0
reviewerID        0
asin              0
reviewText        0
summary           0
brand             0
price             0
extracted_rank    0
reviewDate        0
dtype: int64

In [34]:
unique_values_freq = data['brand'].value_counts()
print(unique_values_freq)

i play.              5350
MJ Metals Jewelry    5039
Pierced Owl          3939
LaSuiveur            1937
Boomer Eyeware       1888
                     ...
Swan                    1
MyButterflyBasket       1
WEIDE                   1
3M                      1
IK COLOURING            1
Name: brand, Length: 4409, dtype: int64

In [31]:
# Guardar el DataFrame en un archivo CSV
data.to_csv('AMAZON_FASHION.csv', index=False)  # 'index=False' para no guardar el índice del DataFrame

In [33]:
# Guardar el DataFrame en un archivo Excel
data.to_excel('AMAZON_FASHION.xlsx', index=False, engine='openpyxl')