In [11]:
import pandas as pd
import json
import gzip

In [2]:
# Leer el archivo CSV
df1 = pd.read_csv('AMAZON_FASHION.csv')

In [24]:
df1['category'] = 'FASHION'

In [25]:
df1.shape

(196517, 10)

In [5]:
# Leer el archivo CSV
df2 = pd.read_csv('Luxury_Beauty.csv')

C:\Users\Usuario\AppData\Local\Temp\ipykernel_17192\103475992.py:2: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('Luxury_Beauty.csv')

In [26]:
df2['category'] = 'LUXURY_BEAUTY'

In [27]:
df2.shape

(430236, 10)

In [34]:
df2.head(3)

,overall,reviewerID,asin,reviewText,summary,brand,price,extracted_rank,reviewDate,category
0,2.0,A1Q6MUU0B2ZDQG,B00004U9V2,"I bought two of these 8.5 fl oz hand cream, an...",dispensers don't work,NaN,30.0,4324,2010-06-15,LUXURY_BEAUTY
1,2.0,A1Q6MUU0B2ZDQG,B00004U9V2,"I bought two of these 8.5 fl oz hand cream, an...",dispensers don't work,NaN,30.0,4324,2010-06-15,LUXURY_BEAUTY
2,5.0,A3HO2SQDCZIE9S,B00004U9V2,"Believe me, over the years I have tried many, ...",Best hand cream ever.,NaN,30.0,4324,2010-01-07,LUXURY_BEAUTY

In [12]:
### Carga la data de reviews

data = []
with gzip.open('Final_Clothing_Shoes_and_Jewelry.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))

# Longitud total de la lista, este numero equivale al numero total de productos
print(len(data))

# Primera fila de la lista
print(data[0])

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [15]:
# Convierte la lista en un dataframe de pandas

df3 = pd.DataFrame.from_dict(data)

In [19]:
list_of_dicts = df3.iloc[0].tolist()

# Convertir la lista de diccionarios en un DataFrame
df = pd.DataFrame(list_of_dicts)

In [28]:
df['category'] = 'CLOTHING_SHOES'

In [35]:
#Convertir el formato de la fecha
df['reviewDate'] = pd.to_datetime(df['reviewDate'], unit='ms')
df['reviewDate'] = df['reviewDate'].dt.strftime('%Y-%m-%d')

In [36]:
df.head(3)

,overall,reviewerID,asin,reviewText,summary,brand,price,extracted_rank,reviewDate,category
0,5.0,A2IC3NZN488KWK,0871167042,"This book has beautiful photos, good and under...",Unique designs,Visit Amazon's Eva M. Sherman Page,17.95,449121,2014-05-04,CLOTHING_SHOES
1,5.0,A30FG02C424EJ5,0871167042,Loved their approach in this book and that it ...,Great Book,Visit Amazon's Eva M. Sherman Page,17.95,449121,2014-03-31,CLOTHING_SHOES
2,5.0,A2G9GWQEWWNQUB,0871167042,great,Five Stars,Visit Amazon's Eva M. Sherman Page,17.95,449121,2015-05-30,CLOTHING_SHOES

In [37]:
# Unir verticalmente los DataFrames
df_unido = pd.concat([df1, df2,df], axis=0, ignore_index=True)

In [38]:
df_unido.shape

(4800571, 10)

In [39]:
# Guardar el DataFrame en un archivo CSV
df_unido.to_csv('DataFinal_Amazon.csv', index=False)  # 'index=False' para no guardar el Ã­ndice del DataFrame

In [40]:
# Convertir el DataFrame a una cadena JSON
json_string = df_unido.to_json(orient='records')

# Comprimir y guardar el JSON como .json.gz
with gzip.open('DataFinal_Amazon.json.gz', 'wt') as f:
    f.write(json_string)